typography.html
shortcodes.html
shop-single.html
index-2.html
index-3.html
blog-single.html
blog-standard.html
css/owl-carousel/*
img/blog/*
img/team/*
img/testimonials/*
img/promo_2_bg.png
faq.html
shop-*.html