.vscode 
.DS_Store
typography.html
shortcodes.html
shop-single.html
index-2.html
index-3.html
blog-single.html
blog-standard.html
css/owl-carousel/*
img/blog/*
img/testimonials/*
img/promo_2_bg.png
faq.html
shop-*.html
action.php
contact.php
blob.txt
rdi-nights.html